
<button mat-fab color="primary" class="add-button" (click)="addMovimentacao()">
  <mat-icon>add</mat-icon>
</button>
<div class="pagina">

  <mat-card class="resumo-total">
    <h2>
      Entradas
    </h2>


    <div class="valores flex" *ngIf="!entrada">
      <div class="valores-total">
        <h3>Total de entradas</h3>
        <span>{{ totalEntrada | currency }}</span>
      </div>
    </div>

    <div class="form"  *ngIf="entrada">

      <div>
        <mat-form-field class="form-field">
          <mat-label >Descrição</mat-label>
            <input matInput type="text"  name="" id="" [(ngModel)]="entrada.desc">
        </mat-form-field>
      </div>

      <div>
        <mat-form-field appearance="fill">
          <mat-label>Categoria</mat-label>
          <mat-select [(ngModel)]="entrada.category">
            <mat-option value="Pagamentos">Pagamentos</mat-option>
            <mat-option value="Comissão">Comissão</mat-option>
            <mat-option value="Benefícios">Benefícios</mat-option>
            <mat-option value="Outros">Outros</mat-option>
          </mat-select>
        </mat-form-field>
      </div>

      <div>
        <mat-form-field class="form-field-2">
          <mat-label>Data</mat-label>
            <input matInput type="date"  name="" id="" [(ngModel)]="entrada.date">
        </mat-form-field>

        <mat-form-field class="form-field-2">
          <mat-label>Valor</mat-label>
            <input matInput type="number"  name="" id="" [(ngModel)]="entrada.price">
        </mat-form-field>
      </div>

      <div>
        <button mat-raised-button class="button-form" color="warn" (click)="salvar()">Salvar</button>
        <button mat-raised-button class="button-form" color="basic" (click)="cancelar()">Cancelar</button>
      </div>

    </div>


  </mat-card>

  <mat-card class="entradas">

    <h2>
      Todas as entradas
    </h2>

    <table>

      <thead>
        <tr>
          <th>Descrição</th>
          <th>Categoria</th>
          <th>Data</th>
          <th>Valor</th>
          <th>Ações</th>
        </tr>
      </thead>

      <tbody>
        <tr *ngFor="let entrada of entradas">
          <td>{{ entrada.desc }}</td>
          <td>{{ entrada.category }}</td>
          <td>{{ entrada.date | date:'dd/MM/yyyy' }}</td>
          <td>{{ entrada.price | currency }}</td>
          <td>
            <button mat-icon-button color="basic" (click)="selecionaMov(entrada);">
              <span class="material-icons btn-visible">
                edit
              </span>
            </button>
            <button mat-icon-button color="warn">
              <span class="material-icons btn-visible">
                delete
              </span>
            </button>
          </td>
        </tr>
      </tbody>

    </table>

  </mat-card>
</div>
