.sidenav{
  width: 150px;
}

.icone-menu{
  margin-right: 10px;
  font-size: 22px;
}

.nav-list a{
  color: rgb(75, 75, 75);
}

.nav-content{
  min-height: calc(100vh - 90px);
}


@media (max-width: 900px) {
 
}
