.pagina{
  margin: auto;
}
.resumo-total{
  margin: 10px;
  height: 30vh;
}

.btn-visible{
 height: 30px;

}

.movimentacao{
 display: flex;
}

.resumo{
  margin: 10px;
  width: calc(100vw / 3);
  height: 40vh;
}

.valores-total{
  flex-grow: 2;
  text-align: center;
  color: rgb(53, 52, 52);
  font-weight: bold;
}

.valores-total h3{
  font-size: 30px;
  text-align: center;
  margin-bottom: 30px;
  font-weight: bold;

}

.valores-total span{
  font-size: 60px;
  text-align: center;
}

.valores-saidas{
  flex-grow: 1;
  text-align: center;
}

.valores-saidas h3{
  font-size: 20px;
  margin-bottom: 5px;
  text-align: center;
  color: rgb(230, 48, 48);
  font-weight: bold;
}

.valores-saidas span{
  font-size: 20px;
  text-align: center;
  color: rgb(53, 52, 52);
}

.valores-entradas{
  flex-grow: 1;
  text-align: center;
}

.valores-entradas h3{
  font-size: 20px;
  margin-bottom: 5px;
  text-align: center;
  color:rgb(30, 184, 30);
  font-weight: bold;
}

.valores-entradas span{
  font-size: 20px;
  text-align: center;
  color: rgb(53, 52, 52);
}


.lista-item{
  margin-top: 15px;
  color: rgb(53, 52, 52);
}

.icone-entrada{
  color: rgb(57, 211, 57);
  font-size: 40px !important;
  margin-right: 5px;
  margin-bottom: 15px;
}

.icone-saida{
  color: rgb(211, 57, 57);
  font-size: 40px !important;
  margin-right: 5px;
  margin-bottom: 15px;
}

.flex{
  display: flex;
  justify-content: space-between;
  flex-grow: 1;
}

.texto-resumo{
  font-size: 25px !important;
  color: rgb(53, 52, 52) !important;
}

.resumo-economia{
  margin-top: 20px;
  margin-left: 20px;
}

.titulo-categoria{
  margin-bottom: 0px;

}

.div-porEconomia{
  margin: auto;
}

.porcentagem{
  font-size: 60px;
  margin-left: 30%;
  margin-right: 20%;
  margin-top: 30px;
  display: block;
  font-weight: 600;

}

.por-bom{
  color: rgb(57, 211, 57);
}

.por-medio{
  color: rgb(221, 217, 6);
}

.por-ruim{
  color: rgb(211, 57, 57);
}
.texto-porcentagem{
  font-size: 20px;
  margin-left: 25%;
  margin-right: 0px;
  margin-top: 30px;
}

@media (max-width: 900px) {

  .movimentacao{
    display: block;
   }

   .resumo-total{
    margin: 20px;
    width: 100vw;
  }

   .resumo{
    margin: 20px;
    width: 100vw;
   }

}


