<div class="pagina">
  <mat-card class="resumo-total">
    <h2>
      Visão Geral
      <button mat-icon-button>
        <span class="material-icons btn-visible">
          visibility
        </span>
      </button>
    </h2>

    <div class="valores flex">
      <div class="valores-entradas">
        <h3>Entradas</h3>
        <span>{{ totalEntrada | currency}}</span>
      </div>
      <div class="valores-total">
        <h3>Saldo Total</h3>
        <span>{{ totalGeral | currency }}</span>
      </div>
      <div class="valores-saidas">
        <h3>Saídas</h3>
        <span>{{ totalSaida | currency }}</span>
      </div>
    </div>
  </mat-card>

  <div class="movimentacao">
    <mat-card class="resumo">
      <h2>Resumo Movimentações</h2>

      <mat-list class="lista">
        <mat-list-item class="lista-item">
            <mat-icon mat-list-icon class="icone-entrada">add_circle</mat-icon>
            <div mat-line class="texto-resumo">Entradas</div>
            <div mat-collum class="texto-resumo">{{ totalEntrada | currency}}</div>
        </mat-list-item>
        <mat-list-item class="lista-item">
          <mat-icon mat-list-icon class="icone-saida">remove_circle</mat-icon>
          <div mat-line class="texto-resumo">Saídas</div>
          <div mat-collum class="texto-resumo">{{ totalSaida | currency }}</div>
        </mat-list-item>
      </mat-list>

    </mat-card>

    <mat-card class="resumo">
      <h2>Economia</h2>
      <h3>Você está economizando:</h3>
      <div class="flex">
        <div *ngIf="porEconomia > 0">
          <mat-progress-spinner
            class="resumo-economia"
            mode="determinate"
            [value]="porEconomia">
          </mat-progress-spinner>
        </div>
        <div *ngIf="porEconomia < 0">
          <mat-progress-spinner
            class="resumo-economia"
            mode="determinate"
            color="warn"
            [value]="100">
          </mat-progress-spinner>
        </div>
        <div class="div-porEconomia" [ngClass]="classeTextoEconomia">
            <span class="porcentagem">{{ porEconomia }}%</span>
            <p class="texto-porcentagem">{{ msgEconomia }}</p>
        </div>
      </div>


    </mat-card>

    <mat-card class="resumo">
      <h2 class="titulo-categoria">Despesas por Categoria</h2>

      <mat-list>
        <mat-list-item>
            <mat-icon mat-list-icon>pool</mat-icon>
            <div mat-line>Lazer</div>
            <div mat-collum>{{ totalLazer | currency }}</div>
        </mat-list-item>
        <mat-list-item>
          <mat-icon mat-list-icon>restaurant_menu</mat-icon>
          <div mat-line>Comida</div>
          <div mat-collum>{{ totalComida | currency }}</div>
        </mat-list-item>
        <mat-list-item>
          <mat-icon mat-list-icon>house</mat-icon>
          <div mat-line>Casa</div>
          <div mat-collum>{{ totalCasa | currency }}</div>
      </mat-list-item>
      <mat-list-item>
        <mat-icon mat-list-icon>article</mat-icon>
        <div mat-line>Outros</div>
        <div mat-collum>{{ totalOutros | currency }}</div>
      </mat-list-item>
      </mat-list>
    </mat-card>
  </div>
</div>
