<div class="pagina">
  <mat-card class="resumo-total">
    <h2>
      Saídas
    </h2>

    <div class="valores flex">
      <div class="valores-total">
        <h3>Total de saidas</h3>
        <span>R$ 100,00</span>
      </div>
    </div>
  </mat-card>

  <mat-card class="saidas">
    <h2>
      Todas as saídas
    </h2>

    <table>

      <thead>
        <tr>
          <th>Descrição</th>
          <th>Categoria</th>
          <th>Data</th>
          <th>Valor</th>
          <th>Ações</th>
        </tr>
      </thead>

      <tbody>
        <tr>
          <td>Salário</td>
          <td>Trabalho</td>
          <td>30/05/2020</td>
          <td>R$ 3.000,00</td>
          <td>
            <button mat-icon-button color="basic">
              <span class="material-icons btn-visible">
                edit
              </span>
            </button>
            <button mat-icon-button color="warn">
              <span class="material-icons btn-visible">
                delete
              </span>
            </button>
          </td>
        </tr>
        <tr>
          <td>Salário</td>
          <td>Trabalho</td>
          <td>30/05/2020</td>
          <td>R$ 3.000,00</td>
          <td>
            <button mat-icon-button color="basic">
              <span class="material-icons btn-visible">
                edit
              </span>
            </button>
            <button mat-icon-button color="warn">
              <span class="material-icons btn-visible">
                delete
              </span>
            </button>
          </td>
        </tr>
        <tr>
          <td>Salário</td>
          <td>Trabalho</td>
          <td>30/05/2020</td>
          <td>R$ 3.000,00</td>
          <td>
            <button mat-icon-button color="basic">
              <span class="material-icons btn-visible">
                edit
              </span>
            </button>
            <button mat-icon-button color="warn">
              <span class="material-icons btn-visible">
                delete
              </span>
            </button>
          </td>
        </tr>
      </tbody>

    </table>

  </mat-card>
</div>
