<div class="pagina">

  <button mat-fab color="warn" class="add-button" (click)="addMovimentacao()">
    <mat-icon>add</mat-icon>
  </button>

  <mat-card class="resumo-total">
    <h2>
      Saídas
    </h2>

    <div class="valores flex" *ngIf="!saida">
      <div class="valores-total">
        <h3>Total de saidas</h3>
        <span>{{ totalSaida | currency }}</span>
      </div>
    </div>

    <div class="form"  *ngIf="saida">

      <div>
        <mat-form-field class="form-field">
          <mat-label>Descrição</mat-label>
            <input matInput type="text"  name="" id="" [(ngModel)]="saida.desc">
        </mat-form-field>
      </div>

      <div>
        <mat-form-field appearance="fill">
          <mat-label>Categoria</mat-label>
          <mat-select [(ngModel)]="saida.category">
            <mat-option value="Lazer">Lazer</mat-option>
            <mat-option value="Comida">Comida</mat-option>
            <mat-option value="Casa">Casa</mat-option>
            <mat-option value="Outros">Outros</mat-option>
          </mat-select>
        </mat-form-field>
      </div>

      <div>
        <mat-form-field class="form-field-2">
          <mat-label>Data</mat-label>
            <input matInput type="date"  name="" id="" [(ngModel)]="saida.date">
        </mat-form-field>

        <mat-form-field class="form-field-2">
          <mat-label>Valor</mat-label>
            <input matInput type="number"  name="" id="" [(ngModel)]="saida.price">
        </mat-form-field>
      </div>

      <div>
        <button mat-raised-button class="button-form" color="warn" (click)="salvar()">Salvar</button>
        <button mat-raised-button class="button-form" color="basic" (click)="cancelar()">Cancelar</button>
      </div>

    </div>

  </mat-card>

  <mat-card class="saidas">
    <h2>
      Todas as saídas
    </h2>

    <table>

      <thead>
        <tr>
          <th>Descrição</th>
          <th>Categoria</th>
          <th>Data</th>
          <th>Valor</th>
          <th>Ações</th>
        </tr>
      </thead>

      <tbody>
        <tr *ngFor="let saida of saidas">
          <td>{{ saida.desc }}</td>
          <td>{{ saida.category }}</td>
          <td>{{ saida.date | date:'dd/MM/yyyy' }}</td>
          <td>{{ saida.price | currency }}</td>
          <td>
            <button mat-icon-button color="basic" (click)="selecionaMov(saida);">
              <span class="material-icons btn-visible">
                edit
              </span>
            </button>
            <button mat-icon-button color="warn">
              <span class="material-icons btn-visible">
                delete
              </span>
            </button>
          </td>
        </tr>
      </tbody>

    </table>

  </mat-card>
</div>
